#figure {
	width: 100px;
	height: 100px;
	background-color: green;
	display: none;
	position: relative;
}
















































/*#figure {
	width: 100px;
	height: 100px;
	background-color: green;
	display: none;
	position: relative;
	
}*/